
.series-wrapper {
    color: white;
    padding: 1rem 0;
    padding-left: 4.6rem;


    .series-carrousel {
        margin-top: 1rem;
        display: flex;
        overflow-x: hidden;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        position: relative;

        .slick-prev, .slick-next, .slick-arrow{
            // color: rgb(190, 190, 190);
            z-index: 999;        
        }

        .slick-prev{
            left: 0;
        }

        .slick-next{
            right: 0;
        }

        // .left-arrow, .right-arrow{
        //    position: sticky;
        //    background-color: rgba(0, 0, 0, 0.342);
        //    display: flex;
        //    align-items: center; 
        //    cursor: pointer;   
           
        //    .fa{
        //        color: rgba(255, 255, 255, 0.733);
        //    }
        // }

        // .left-arrow{
        //     left: 0;
        // }

        // .right-arrow{
        //     right: 0;
        
        // }


    

        &__link {
            margin: 0 .5rem;
            display: flex;
            flex-direction: column;
            align-items: center;


            .progress-bar {
                margin-top: .6rem;
                background-color: #858585;
                height: .4rem;
                width: 13.8rem;


                &__completed {
                    width: 0;
                    background-color: #C60F0E;
                    height: 100%;
                }

                .completed-one{
                    width: 15%;
                }

                .completed-two{
                    width: 78%;
                }

                .completed-three{
                    width: 30%;
                }

                .completed-four{
                    width: 20%;
                }

                .completed-five{
                    width: 90%;
                }

                .completed-six{
                    width: 20%;
                }
            }

            // &:nth-child(1) .progress-bar__completed {
            //     width: 15%;
            // }

            // &:nth-child(2) .progress-bar__completed {
            //     width: 90%;
            // }

            // &:nth-child(3) .progress-bar__completed {
            //     width: 25%;
            // }

            // &:nth-child(4) .progress-bar__completed {
            //     width: 50%;
            // }

            // &:nth-child(5) .progress-bar__completed {
            //     width: 75%;
            // }

            // &:nth-child(6) .progress-bar__completed {
            //     width: 18%;
            // }

        }

       
    }

    
}