.series-wrapper {
    color: white;
    padding: 1rem 0;
    padding-left: 4.6rem;

    @media screen and (max-width:850px) {
        padding-left: 1rem;
    }


    .series-carrousel,
    .series-carrousel-bb {
        margin-top: 1rem;
        display: flex;
        overflow-x: hidden;
        scroll-behavior: smooth;
        

        .slick-prev,
        .slick-next,
        .slick-arrow {
            z-index: 999;
        }

        .slick-prev {
            left: 0;
        }

        .slick-next {
            right: 0;
        }


        &__link {
            margin: 0 .5rem;
            display: flex;
            flex-direction: column;
            flex-shrink: 1;
            align-items: center;

            &:focus,
            &:active {
                outline: none;
                border: none;
            }


            .progress-bar {
                margin-top: .6rem;
                background-color: #858585;
                height: .4rem;
                width: 13.8rem;


                &__completed {
                    width: 0;
                    background-color: #C60F0E;
                    height: 100%;
                }

                .completed-one {
                    width: 15%;
                }

                .completed-two {
                    width: 78%;
                }

                .completed-three {
                    width: 30%;
                }

                .completed-four {
                    width: 20%;
                }

                .completed-five {
                    width: 90%;
                }

                .completed-six {
                    width: 20%;
                }
            }
        }


    }

    .series-carrousel-bb {
        @media screen and (max-width:600px) {
            flex-direction: column;
            align-items: flex-start;
            margin-top: -1rem;
        }

        .slick-prev,
        .slick-next,
        .slick-arrow {
            top: 35%;
        }


        .series-carrousel__link {
            @media screen and (max-width:600px) {
                margin-top: 2rem;
                width: 95%;
                flex-direction: row;

                img {
                    max-width: 50%;
                    height: auto;
                }
            }
        }

        .series-carrousel__text {
            width: 20em;

            @media screen and (max-width:600px) {
                padding-left: 1rem;
                padding-top: 2rem;
            }

            &__h3 {
                font-size: 1.1em;
                font-weight: bold;
                padding: .5rem 0;
            }

            &__h4 {
                font-size: 1em;
                font-weight: lighter;
            }

            @media screen and (max-width:600px) {
                height: 12rem;
            }

        }
    }


}