.main-detalle {
    background-image: linear-gradient(273deg, rgba(0, 0, 6, 0) 43%, rgba(0, 0, 0, 1) 96%), url("/assets/breakingBad.png");
    height: 100vh;
    background-position: top;
    background-size: cover;

    &__text {
        padding-left: 5.5rem;
        padding-top: 5rem;
        width: 100%;
        max-width: 45rem;

        @media screen and (max-width:850px) {
            padding-left: 1rem;
        }


        &__spans{
            font-size: 1.1em;
            margin-top: -2rem;
            margin-right: .8rem;
            margin-bottom: 3.5rem;

           .coincidence{
               color:#009C04;;
           }

           .age{
            border: 1px solid #979797;
            border-radius: 8px;
            padding: .3rem .6rem;
           }

           .seasons{
               font-weight: bold;
           }
        }

        .title-box-red{
            background-color: #ED0A1D;
        }

        .title-sinopsis-detalle{
            margin-top: 3rem;
        }

        .thumbs{
            display: inline-flex;
            height: 3.5rem;
            align-items: center;
            justify-content: center;
            padding: .8rem;
            border: 2px solid #D8D8D8;
            border-radius: 50%;
            margin: .5rem .5rem;
            transition: all .2s;

            .fa{
                font-size: 2.1rem;

            }
        }

        .up:hover{
            background-color: rgba(0, 156, 5, 0.205);
            border: 2px solid rgb(3, 190, 10);
            
            .fa{
                color: rgb(3, 190, 10);
            }
        }

        .down:hover{
            background-color: rgba(237, 10, 29, 0.205);
            border: 2px solid #ED0A1D ;

            .fa{
                color: #ED0A1D;
            }
        }
        

    }
}

.container-detalle{
    padding-top: 2rem;
}