.main-detalle {
    background-image:
        linear-gradient(180deg, rgba(0, 0, 6, 0) 77%, rgba(0, 0, 0, 1) 98%), linear-gradient(273deg, rgba(0, 0, 6, 0) 38%, rgba(0, 0, 0, 1) 96%),
        url("/assets/bb_fondo.jpg");
    width: 100%;
    height: auto;
    background-position: top;
    background-size: cover;

    @media screen and (max-width:850px) {
        max-height: 70vh;
        background-position: center;
    }

    @media screen and (max-width:700px) {
        min-height: 35vh;
        padding-top: 6rem;
    }


    &__text {
        padding-left: 5.5rem;
        padding-top: 5rem;
        width: 100%;
        max-width: 45rem;

        @media screen and (max-width:850px) {
            padding-left: 1rem;
        }

        @media screen and (max-width:700px) {
            padding-top: 2rem;
        }

        &__mobile {
            padding-bottom: 1rem;
            font-size: 2.5em;

            @media screen and (min-width:700px) {
                display: none;
            }
        }

        &__logo {
            @media screen and (max-width:700px) {
                display: none;
            }
        }

        &__spans {
            font-size: 1.1em;
            margin-top: -3rem;
            margin-right: .8rem;
            margin-bottom: 2.5rem;

            @media screen and (max-width:700px) {
                margin-top: 0;
            }

            .coincidence {
                color: #009C04;

                @media screen and (max-width:700px) {
                    display: none;
                }
            }

            .age {
                border: 1px solid #979797;
                border-radius: 8px;
                padding: .3rem .6rem;

                @media screen and (max-width:700px) {
                    border: none;
                }
            }

            .seasons {
                font-weight: bold;
            }
        }

        .title-box-red {
            background-color: #ED0A1D;
        }

        .title-box-lista {
            @media screen and (max-width:500px) {
                display: none;
            }
        }

        .title-sinopsis-detalle {
            padding: 3rem 0;

            @media screen and (max-width:850px) {
                display: none;
            }
        }

        .thumbs {
            display: inline-flex;
            height: 3.5rem;
            align-items: center;
            justify-content: center;
            padding: .8rem;
            border: 2px solid #D8D8D8;
            border-radius: 50%;
            margin: .5rem .5rem;
            transition: all .2s;

            @media screen and (max-width:700px) {
                display: none;
            }

            .fa {
                font-size: 2.1rem;
            }
        }

        .up:hover {
            background-color: rgba(0, 156, 5, 0.205);
            border: 2px solid rgb(3, 190, 10);

            .fa {
                color: rgb(3, 190, 10);
            }
        }

        .down:hover {
            background-color: rgba(237, 10, 29, 0.205);
            border: 2px solid #ED0A1D;

            .fa {
                color: #ED0A1D;
            }
        }
    }
}

.container-detalle {
        margin-top: -.1rem;
        background-color: rgb(0, 0, 0);
        min-height: 70vh;
        padding-bottom: 3rem;

    @media screen and (max-width:600px) {
        padding-left: 1rem;
        padding-top: 2rem;
    }

}