@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
.series-wrapper {
  color: white;
  padding: 1rem 0;
  padding-left: 4.6rem;
}
@media screen and (max-width: 850px) {
  .series-wrapper {
    padding-left: 1rem;
  }
}
.series-wrapper .series-carrousel {
  margin-top: 1rem;
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.series-wrapper .series-carrousel .slick-prev,
.series-wrapper .series-carrousel .slick-next,
.series-wrapper .series-carrousel .slick-arrow {
  z-index: 999;
}
.series-wrapper .series-carrousel .slick-prev {
  left: 0;
}
.series-wrapper .series-carrousel .slick-next {
  right: 0;
}
.series-wrapper .series-carrousel__link {
  margin: 0 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.series-wrapper .series-carrousel__link :focus {
  outline: none;
}
.series-wrapper .series-carrousel__link .progress-bar {
  margin-top: 0.6rem;
  background-color: #858585;
  height: 0.4rem;
  width: 13.8rem;
}
.series-wrapper .series-carrousel__link .progress-bar__completed {
  width: 0;
  background-color: #C60F0E;
  height: 100%;
}
.series-wrapper .series-carrousel__link .progress-bar .completed-one {
  width: 15%;
}
.series-wrapper .series-carrousel__link .progress-bar .completed-two {
  width: 78%;
}
.series-wrapper .series-carrousel__link .progress-bar .completed-three {
  width: 30%;
}
.series-wrapper .series-carrousel__link .progress-bar .completed-four {
  width: 20%;
}
.series-wrapper .series-carrousel__link .progress-bar .completed-five {
  width: 90%;
}
.series-wrapper .series-carrousel__link .progress-bar .completed-six {
  width: 20%;
}

.header {
  position: fixed;
  margin-top: 0;
  background: rgba(0, 0, 0, 0.801218);
  display: flex;
  align-items: center;
  padding: 0.8rem 0;
  width: 100vw;
  z-index: 1000;
}
@media screen and (min-width: 850px) {
  .header .hamburger-box {
    display: none;
  }
}
.header .hamburger-box .hamburger-inner,
.header .hamburger-box .hamburger-inner::before,
.header .hamburger-box .hamburger-inner::after {
  background-color: white;
}
.header .hamburger-box:focus {
  outline: none;
}
.header .header-logo {
  margin-left: 6rem;
  height: 40px;
}
@media screen and (max-width: 1200px) {
  .header .header-logo {
    margin-left: 2rem;
  }
}
.header .nav-links {
  width: 60%;
  display: inline-flex;
  justify-content: space-evenly;
}
@media screen and (max-width: 850px) {
  .header .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 84.4px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.897);
    padding-left: 1.5rem;
    padding-bottom: 30rem;
  }
}
@media screen and (max-width: 1200px) {
  .header .nav-links {
    width: 75%;
  }
}
.header .nav-links.open {
  display: inline-flex;
  width: 25rem;
}
.header .nav-links .nav-link {
  display: inline-block;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.3em;
  white-space: nowrap;
}
@media screen and (max-width: 1100px) {
  .header .nav-links .nav-link {
    font-size: 1.1em;
  }
}
@media screen and (max-width: 850px) {
  .header .nav-links .nav-link {
    padding: 1rem 0;
  }
}
.header.open {
  display: flex;
}

.main-detalle {
  background-image: linear-gradient(273deg, rgba(0, 0, 6, 0) 43%, black 96%), url("/assets/breakingBad.png");
  height: 100vh;
  background-position: center;
  background-size: cover;
}
.main-detalle__text {
  padding-left: 5.5rem;
  padding-top: 5rem;
  width: 100%;
  max-width: 45rem;
}
@media screen and (max-width: 850px) {
  .main-detalle__text {
    padding-left: 1rem;
  }
}
.main-detalle__text__spans {
  font-size: 1.1em;
  margin-top: -2rem;
  margin-right: 0.8rem;
  margin-bottom: 3.5rem;
}
.main-detalle__text__spans .coincidence {
  color: #009C04;
}
.main-detalle__text__spans .age {
  border: 1px solid #979797;
  border-radius: 8px;
  padding: 0.3rem 0.6rem;
}
.main-detalle__text__spans .seasons {
  font-weight: bold;
}
.main-detalle__text .title-box-red {
  background-color: #ED0A1D;
}
.main-detalle__text .title-sinopsis-detalle {
  margin-top: 3rem;
}
.main-detalle__text .thumbs {
  display: inline-flex;
  height: 3.5rem;
  align-items: center;
  justify-content: center;
  padding: 0.8rem;
  border: 2px solid #D8D8D8;
  border-radius: 50%;
  margin: 0.5rem 0.5rem;
  transition: all 0.2s;
}
.main-detalle__text .thumbs .fa {
  font-size: 2.1rem;
}
.main-detalle__text .up:hover {
  background-color: rgba(0, 156, 5, 0.205);
  border: 2px solid #03be0a;
}
.main-detalle__text .up:hover .fa {
  color: #03be0a;
}
.main-detalle__text .down:hover {
  background-color: rgba(237, 10, 29, 0.205);
  border: 2px solid #ED0A1D;
}
.main-detalle__text .down:hover .fa {
  color: #ED0A1D;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: white;
}
*::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}
a .title-box {
  background-color: rgba(157, 151, 151, 0.541521);
  border-radius: 9px;
  font-size: 1.3em;
  padding: 1rem 3.5rem;
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
}

.title-sinopsis {
  font-size: 1.5em;
}

.main {
  background-image: url("../assets/portada.png");
  height: 100vh;
  background-position: top;
  background-size: cover;
}
.main .main-titles {
  padding-top: 12rem;
  padding-left: 4.6rem;
  width: 100%;
  max-width: 40rem;
}
@media screen and (max-width: 850px) {
  .main .main-titles {
    padding-left: 1rem;
  }
}
.main .main-titles .title-over {
  font-size: 1.7em;
  margin-bottom: 1rem;
}
.main .main-titles .title-main {
  font-size: 6.5em;
  line-height: 0.9em;
  margin-bottom: 1.5rem;
}
.main .main-titles a {
  text-decoration: none;
}
.main .main-titles a .title-box {
  background-color: rgba(157, 151, 151, 0.541521);
  border-radius: 9px;
  font-size: 1.3em;
  padding: 1rem 3.5rem;
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
}
.main .main-titles .title-serie {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.5em;
}

.container {
  margin-top: -2rem;
  background-color: black;
  background: linear-gradient(0deg, #000006 98%, rgba(0, 0, 0, 0.021) 100%);
  min-height: 100vh;
  padding-bottom: 3rem;
}
.container__detalle {
  padding-top: 2rem;
}

/*# sourceMappingURL=style.css.map */
