@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
.series-wrapper {
  color: white;
  padding: 1rem 0;
  padding-left: 4.6rem;
}
.series-wrapper .series-carrousel {
  margin-top: 1rem;
  display: flex;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  position: relative;
}
.series-wrapper .series-carrousel .left-arrow, .series-wrapper .series-carrousel .right-arrow {
  position: sticky;
  background-color: rgba(0, 0, 0, 0.342);
  display: flex;
  align-items: center;
  cursor: pointer;
}
.series-wrapper .series-carrousel .left-arrow .fa, .series-wrapper .series-carrousel .right-arrow .fa {
  color: rgba(255, 255, 255, 0.733);
}
.series-wrapper .series-carrousel .left-arrow {
  left: 0;
}
.series-wrapper .series-carrousel .right-arrow {
  right: 0;
}
.series-wrapper .series-carrousel__link {
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.series-wrapper .series-carrousel__link .progress-bar {
  margin-top: 0.6rem;
  background-color: #858585;
  height: 0.4rem;
  width: 13.8rem;
}
.series-wrapper .series-carrousel__link .progress-bar__completed {
  width: 0;
  background-color: #C60F0E;
  height: 100%;
}
.series-wrapper .series-carrousel__link:nth-child(2) .progress-bar__completed {
  width: 15%;
}
.series-wrapper .series-carrousel__link:nth-child(3) .progress-bar__completed {
  width: 90%;
}
.series-wrapper .series-carrousel__link:nth-child(4) .progress-bar__completed {
  width: 25%;
}
.series-wrapper .series-carrousel__link:nth-child(5) .progress-bar__completed {
  width: 50%;
}
.series-wrapper .series-carrousel__link:nth-child(6) .progress-bar__completed {
  width: 75%;
}
.series-wrapper .series-carrousel__link:nth-child(7) .progress-bar__completed {
  width: 18%;
}

.header {
  position: fixed;
  margin-top: 0;
  background: rgba(0, 0, 0, 0.801218);
  display: flex;
  align-items: center;
  padding: 0.8rem 0;
  width: 100vw;
  z-index: 1000;
}
.header .header-logo {
  margin-left: 6rem;
  height: 40px;
}
@media screen and (max-width: 1200px) {
  .header .header-logo {
    margin-left: 2rem;
  }
}
.header .nav-links {
  margin-left: 6rem;
}
@media screen and (max-width: 1200px) {
  .header .nav-links {
    margin-left: 2rem;
  }
}
.header .nav-links .nav-link {
  color: white;
  text-decoration: none;
  margin-left: 3rem;
  font-weight: bold;
  font-size: 1.3em;
}
@media screen and (max-width: 1200px) {
  .header .nav-links .nav-link {
    margin-left: 1rem;
  }
}

.main-detalle {
  background-image: linear-gradient(273deg, rgba(0, 0, 6, 0) 43%, black 96%), url("/assets/breakingBad.png");
  min-height: 100vh;
  background-position: top;
  background-size: cover;
}
.main-detalle__text {
  padding-left: 5.5rem;
  padding-top: 5rem;
  width: 100%;
  max-width: 45rem;
}
.main-detalle__text__spans {
  font-size: 1.1em;
  margin-top: -2rem;
  margin-right: 0.8rem;
  margin-bottom: 3.5rem;
}
.main-detalle__text__spans .coincidence {
  color: #009C04;
}
.main-detalle__text__spans .age {
  border: 1px solid #979797;
  border-radius: 8px;
  padding: 0.3rem 0.6rem;
}
.main-detalle__text__spans .seasons {
  font-weight: bold;
}
.main-detalle__text .title-box-red {
  background-color: #ED0A1D;
}
.main-detalle__text .title-sinopsis-detalle {
  margin-top: 3rem;
}
.main-detalle__text .thumbs {
  display: inline-flex;
  height: 3.5rem;
  align-items: center;
  justify-content: center;
  padding: 0.8rem;
  border: 2px solid #D8D8D8;
  border-radius: 50%;
  margin: 0.5rem 0.5rem;
}
.main-detalle__text .thumbs .fa {
  font-size: 2.1rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: white;
}
*::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}
a .title-box {
  background-color: rgba(157, 151, 151, 0.541521);
  border-radius: 9px;
  font-size: 1.3em;
  padding: 1rem 3.5rem;
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
}

.title-sinopsis {
  font-size: 1.5em;
  width: 45rem;
}

.main {
  background-image: url("../assets/portada.png");
  min-height: 100vh;
  background-position: top;
  background-size: cover;
  min-width: 100vw;
}
.main .main-titles {
  padding-top: 12rem;
  padding-left: 4.6rem;
  width: 100%;
  max-width: 40rem;
}
.main .main-titles .title-over {
  font-size: 1.7em;
  margin-bottom: 1rem;
}
.main .main-titles .title-main {
  font-size: 9vw;
  line-height: 0.9em;
  margin-bottom: 1.5rem;
}
.main .main-titles a {
  text-decoration: none;
}
.main .main-titles a .title-box {
  background-color: rgba(157, 151, 151, 0.541521);
  border-radius: 9px;
  font-size: 1.3em;
  padding: 1rem 3.5rem;
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
}
.main .main-titles .title-serie {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.5em;
}

.container {
  margin-top: -2rem;
  background-color: black;
  background: linear-gradient(0deg, #000006 98%, rgba(0, 0, 0, 0.021) 100%);
  min-height: 100vh;
  padding-bottom: 3rem;
}
.container__detalle {
  padding-top: 2rem;
}

/*# sourceMappingURL=style.css.map */
