    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

    * {
        box-sizing: border-box;
        margin: 0;
        font-family: 'Open Sans', sans-serif;
        color: white;

        &::-webkit-scrollbar {
            color: transparent;
            width: 0;
        }

    }

    html {
        scroll-behavior: smooth;
    }


    .nav {
        position: fixed;
        margin-top: 0;
        background: rgba(0, 0, 0, 0.801218);
        display: flex;
        align-items: center;
        padding: .8rem 0;
        width: 100vw;

        .nav-logo {
            margin-left: 6rem;
            height: 40px;
        }

        .nav-links {
            margin-left: 6rem;


            .nav-link {
                color: white;
                text-decoration: none;
                margin-left: 3rem;
                font-weight: bold;
                font-size: 1.3em;

            }
        }

    }


    .main {
        min-height: 100vh;
        background-image: url("../assets/portada.png");
        background-position: top;
        background-size: cover;

        .main-titles {
            padding-top: 12rem;
            padding-left: 4.6rem;
            width: 100%;
            max-width: 40rem;

            .title-over {
                font-size: 1.7em;
                margin-bottom: 1rem;
            }

            .title-main {
                font-size: 7.5em;
                line-height: .9em;
                margin-bottom: 1.5rem;
            }

            a {
                text-decoration: none;

                .title-box {
                    background-color: rgba(157, 151, 151, 0.541521);
                    border-radius: 9px;
                    font-size: 1.3em;
                    padding: 1rem 3.5rem;
                    margin-bottom: 1.5rem;
                    margin-right: 1.5rem;

                }
            }

            .title-serie {
                margin-top: 2rem;
                margin-bottom: 1rem;
                font-size: 1.5em;

            }

            .title-sinopsis {
                font-size: 1.5em;
                width: 45rem;
            }
        }

    }


    .container {
        margin-top: -2rem;
        background-color: black;
        background: linear-gradient(0deg, rgba(0, 0, 6, 1) 98%, rgba(0, 0, 0, 0.021) 100%);
        min-height: 100vh;


        .series-wrapper {
            color: white;
            padding-left: 4.6rem;
            padding-bottom: 1rem;


            .series-carrousel {
                margin-top: 1rem;
                display: flex;
                overflow-x: auto;
                scroll-snap-type: x mandatory;


                &__link {
                    margin-right: 1rem;
                    scroll-snap-align: center;
                    display: flex;
                    flex-direction: column;
                    align-items: center;


                    .progress-bar {
                        margin-top: .6rem;
                        background-color: #858585;
                        height: .4rem;
                        width: 13.8rem;


                        &__completed {
                            background-color: #C60F0E;
                            height: 100%;

                        }
                    }

                    &:nth-child(1) .progress-bar__completed {
                        width: 15%;
                    }

                    &:nth-child(2) .progress-bar__completed {
                        width: 90%;
                    }

                    &:nth-child(3) .progress-bar__completed {
                        width: 25%;
                    }

                    &:nth-child(4) .progress-bar__completed {
                        width: 50%;
                    }

                    &:nth-child(5) .progress-bar__completed {
                        width: 75%;
                    }

                    &:nth-child(6) .progress-bar__completed {
                        width: 8%;
                    }

                }
            }
        }

    }